﻿@model Model.Consulta

@{
    ViewBag.Title = "Cadastrar";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Consulta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DataConsulta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataConsulta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataConsulta, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Paciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="paciente">
                    @{ 
                        foreach (var item in TempData["pacientes"] as List<Model.Paciente>)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Doutor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="doutor">
                    @{
                        foreach (var item in TempData["doutores"] as List<Model.Doutor>)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Consultorio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="consultorio">
                    @{
                        foreach (var item in TempData["consultorios"] as List<Model.Consultorio>)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TipoConsultaEnum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="tipo">
                    @{
                        foreach (var item in TempData["tipos"] as System.Array)
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agendar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
