﻿@model IEnumerable<Model.Consulta>

@{
    ViewBag.Title = "Index";
}
<a href="@Url.Content("~/Consultas/Cadastrar")"><button class="btn btn-primary">Nova Consulta</button></a>
<br /><br />
<h3 class="text-primary">Consultas Agendadas</h3>
<br />
<table class="table table-striped" id="dataTables">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Doutor</th>
            <th>Consultorio</th>
            <th>Data Consulta</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var consulta in Model)
            {
                <tr>
                    <td>@consulta.Paciente.Nome</td>
                    <td>@consulta.Doutor.Nome</td>
                    <td>@consulta.Consultorio.Nome</td>
                    <td>@consulta.DataConsulta.ToShortDateString()</td>
                    <td><a href="@Url.Content("~/Consultas/Editar/" + consulta.Id)"><i style="font-size:20px; color :#25a2eb" class="fa fa-pencil" aria-hidden="true"></i></a></td>
                </tr>
            }
        }
    </tbody>


</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables').DataTable({
            "language": { "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
        });
    });
</script>