﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Bem Vindo!</h2><br />
<h2>Agende sua consulta no menu acima !</h2><br />
<h5>
Projeto Integrador 2 - Clinica Odontologica<br />
Tobias Guimarães<br />
Felipe Chaves<br />
Prisley Araujo    <br />
</h5>  