﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/js");
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!-- header -->
    <section class="top-w3ls">
        <!-- top bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 top-w3ls1">
                        <p class="top-p1">Agende sua consulta agora mesmo!</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- /top bar -->
        <!-- navigation -->
        <div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><h1>Odonto</h1></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="Consultas">Consultas</a></li>
                             
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <button class="btn btn-primary" onclick="abrirModalLogin()">Logar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!-- footer -->
    <section class="footer">
        <a href="#myPage" title="To Top" class="top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <a class="logo">Odonto</a>
        <div class="container">
           
            <p class="copyright text-center">&copy; 2016 All rights reserved</p>
        </div>
    </section>

</body>
</html>
